{% extends 'base.html' %} {% block title %}Student Dashboard{% endblock %} {%
block content %}
<div class="header">
  <h1>Welcome to the Student Dashboard</h1>
  <p>Here you can view your courses, assignments, and grades.</p>
</div>

<table>
  {% if courses %}
  <th>Other courses you could try:</th>
  {% for course in courses %}
  <tr>
    Title
    <td>{{ course }}</td>
  </tr>
  {% endfor %} {% endif %}
</table>

<div>
  {% if enrolled_courses %}
  <p style="font-weight: bold">Courses you have enrolled for:</p>
  {% for course in enrolled_courses %}
  <p>{{ course }}</p>
  {% endfor %} {% endif %}
</div>

{% endblock %}
